
/* gennemgående design styling */

body {
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: rgb(17, 25, 38);
    overflow-x: hidden;
}

header {
    /* background-color: rgb(212, 105, 61); */
    height: 10vw;
    position: relative;
    top: 10vw;
    z-index: 99;
    filter: drop-shadow(0.5vw 0.5vw 1vw rgba(0, 0, 0, 0.75));
}

h1 {
    font-family: "fugaz one";
    font-size: 7vw;
    font-weight: 100;
    margin: 1vw;
}

h2 {
    font-family: "fugaz one";
    font-size: 5vw;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #d4693d;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60vw;
    font-size: 3.5vw;
    margin-top: 10vw;
}

#copyright {
    font-size: 3vw;
}


#so-meWrapper {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.so-me {
    font-size: 5.5vw;
    text-decoration: none;
    color: #fff;
}

#kontakt {
    background-color: #4c828e;
    border: none;
    outline: 0;
    padding: 1.5vw 3vw;
    font-family: "fugaz one";
    font-size: 4vw;
    font-weight: 100;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

/* navbar fra w3schools FIX DET SENERE!! */

/* Style the navigation menu */
.topnavMobile {
    display: block;
    font-family: "fugaz one";
    overflow: hidden;
    background-color: #333;
}

.topnavMobile h2 {
    font-size: 5.9257vw;
    font-weight: 100;
    padding: 0%;
    margin: 0%;
}

  /* Hide the links inside the navigation menu (except for logo/home) */
.topnavMobile #myLinks {
    display: none;
}

  /* Style navigation menu links */
.topnavMobile a {
    color: white;
    padding: 3vw 4vw;
    text-decoration: none;
    display: block;
}

  /* Style the hamburger menu */
.topnavMobile a.icon {
    background: #4c828e;
    width: 6vw;
    height: 8.72vw;
    line-height: 10vw;
    font-size: 5.9257vw;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

  /* Style the active link (or home/logo) */
.active {
    background-color: rgb(212, 105, 61);
    color: white;
}

.topnavDesk {
    height: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
}

.topnavDesk img {
    position: relative;
    /* top: 1vw; */
    width: 30vw;
    margin-left: 2vw;
}

.topnavDesk nav {
    position: relative;
    right: 10vw;
    width: 54%;
    display: flex;
    justify-content: space-between;
    font-family: "fugaz one";
}

.topnavDesk a {
    color: #fff;
    text-decoration: none;
}

.topnavDesk h2 {
    font-size: 2.5vw;
    font-weight: 100;
    line-height: 120%;
}

.hoverEffect {
    display: inline-block;
    position: relative;
    color: #fff;
}

.hoverEffect:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.30vw;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hoverEffect:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hoverEffectMini {
    display: inline-block;
    position: relative;
    color: #fff
}

.hoverEffectMini:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.15vw;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hoverEffectMini:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.shadow {
    filter: drop-shadow(0.5vw 0.5vw 0.5vw #111);
}

/* BREAKPOINT CHANGES gennemgående design  */

@media screen and (min-width: 768px) {
    h1 {
        font-size: 3.6992vw;
    }

    h2 {
        font-size: 3.0634vw;
    }
    
    p {
        line-height: 1.3;
        font-size: 1.5vw;
    }

    main {
        margin: 0 10vw; 
    }

    footer {
        clip-path:polygon(0% 100%, 100% 100%,100% 0%,0% 10%);
        -webkit-clip-path:polygon(0% 100%, 100% 100%,100% 0%,0% 10%);
        height: 20vw;
        padding: 5vw 0 3vw;
        margin-top: 0vw;
    }

    #copyright {
        font-size: 1vw;
    }

    #so-meWrapper {
        width: 40%;
    }

    .so-me {
        margin: 2vw 0 1vw;
        font-size: 3.5vw;
        line-height: 2.5vw;
    }

    #kontakt {
        margin: 3vw;
        padding: 0.5vw 1vw;
        font-size: 1.5vw;
    }

    .topnavMobile {
        display: none;
    }

    header {
        height: 6.1846vw;
        top: 6.4736vw;
    }

    .topnavDesk {
        display: flex;
    }

    .shadow {
        filter: drop-shadow(0.1vw 0.2vw 0.2vw #111);
    }    
}

/* MOBILE index styling */

/* container med baggrund */

#index-heroImage {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)),
    url(img/KHindex_web.webp);
    height: 150vw;
    background-position-x: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -10vw;
}

/* content til containeren  */

#index-heroText {
    width: 80vw;
    font-size: 4.444vw;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

#index-heroButton {
    position: relative;
    width: 33vw;
    height: 12vw;
    border: none;
    outline: 0;
    background-color: rgb(66, 115, 130);
    text-align: center;
    margin-top: 8vw;
    cursor: pointer;
}

#index-heroButton a {
    font-family: "fugaz one";
    font-weight: 100;
    font-size: 5vw;
    text-decoration: none;
    color: #fff;
}

/* container med indholdet til de forskellige sider  */

#index-orangeContainer {
    background-color: rgb(212, 105, 61);
    position: relative;
    height: fit-content;
    top: -10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#index-orangeContainer article h2 {
    position: relative;
    top: -27vw;
    font-size: 6vw;
    text-align: center;
    color: #fff;
}

#index-orangeContainer p {
    position: relative;
    top: -18vw;
    padding: 5vw 10vw;
    font-size: 4vw;
    text-align: justify;
    color: #fff;
}

#portrait {
    width: 100%;
}

.portræt {
    display: none;
}

.læsMere {
    position: relative;
    top: -15vw;
    background-color: #4c828e;
    border: none;
    outline: none;
    width: 40%;
    height: 10vw;
    margin-bottom: 5vw;
}

.læsMere a {
    color: #fff;
    font-family: "fugaz one";
    font-size: 5vw;
    text-decoration: none;
}

.h2slant {
    text-align: center;
    color: #fff;
    background-color: rgb(213, 105, 63);
    padding: 5vw;
    margin-bottom: 10vw;
}

/* css til funktionen der folder hans tidligere arbejde ud på mobilen */

.collapsible {
    background-color: rgb(76, 130, 142);
    margin-top: 2vw;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 1em;
    padding: 0 1em 0 1em;
}

.collapseContent {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    color: #fff;
    background-color: rgb(66, 115, 130);
    text-align: justify;
}

.collapsible p {
    font-family: "fugaz one";
    font-size: 4.5vw;
}

#plus1 {
    font-size: 5vw
}

#plus2 {
    font-size: 5vw
}

#plus3 {
    font-size: 5vw
}

/* DESKTOP index styling */

/* en container med trapez-form der wrapper og skærer de indsatte billeder */

#skewContainer {
    width: 100%;
    height: 34vw;
    margin-top: 5vw;
    display: none;
    align-items: center;
    justify-content: space-evenly;
    clip-path:polygon(0% 0%, 100% 5%,100% 95%,0% 100%);
    -webkit-clip-path:polygon(0% 0%, 100% 5%,100% 95%,0% 100%);
}

/* de indsatte billeder */

.poster {
    background: transparent; 
    width: 23vw;
    height: 100%;
    cursor: pointer;
}

#BG1 {
    background-image: url(img/BG1_stuntman_web.webp);
    background-size: cover;
}

#BG2 {
    background-image: url(img/BG2_skuespiller_web.webp);
    background-size: cover;
    background-position-x: 40%;
}

#BG3 {
    background-image: url(img/BG3_instruktør_web.webp);
    background-size: cover;
    background-position-x: 70%;
}

.poster h2 {
    position: relative;
    top: 3.5vw;
    z-index: 99;
    color: #fff;
    font-family: "fugaz one";
    font-size: 2vw;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
}

/* indhold der ligger over billederne */

.posterContent {
    position: relative;
    top: -7vw;
    background-color: rgba(0, 0, 0, 0.75);
    height: 120%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #fff;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity .5s ease; 
    transition: .5s ease;
}

/* mouseover style der ændrer opaciteten */

.posterContent:hover {
    opacity: 1;
    -webkit-transition: opacity 1s ease; 
    transition: 1s ease;
} 

/* BREAKPOINT CHANGES index */

@media screen and (min-width: 768px) {
    h1 {
        font-size: 3.2vw;
    }
    
    #index-heroImage {
        height: 42vw;
        top: 0;
        background-position: center;
    }

    #index-heroText {
        width: 70%;
        position: relative;
        top: 25vw;
        height: 80%;
    }

    #index-heroText p {
        font-size: 1.2vw;
    }

    #index-heroButton {
        width: 20vw;
        height: 5vw;
        margin: 5vw 0;
    }

    #index-heroButton a {
        font-size: 2.5vw;
    }

    #index-orangeContainer {
        width: 100%;
        height: fit-content;
        flex-direction: row;
        clip-path:polygon(0% 0%, 100% 0%,100% 100%,0% 95%);
        -webkit-clip-path:polygon(0% 0%, 100% 0%,100% 100%,0% 95%);
        margin-top: 10vw;
        padding-bottom: 5vw;
        padding-top: 2vw;
    }

    #index-orangeContainer article {
        position: relative;
        left: 50%;
        width: 50%;
    }
    
    #index-orangeContainer article h2 {
        font-size: 2vw;
        margin: 0;
        top: 0;
    }

    #index-orangeContainer article p {
        padding: 2vw;
        font-size: 1.5vw;
        top: 0;
    }

    #portrait {
        background-image: linear-gradient(rgba(0,0,0,0) rgba(0,0,0, 0.9));
        width: 50%;
        height: auto;
        display: none;
    }

    .portræt {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        background-image: url(img/portræt_web.webp);
        background-size: cover;
        background-position-x: 50%;
        background-position-y: -17%;
        width: 50%;
        height: 100%;
    }

    .læsMere {
        background-color: #4c828e;
        border: none;
        outline: none;
        width: 40%;
        height: 4vw;
        margin: 2vw;
        text-decoration: none;
        cursor: pointer;
        top: 0;
    }
    
    .læsMere a {
        color: #fff;
        font-family: "fugaz one";
        font-size: 2vw;
        text-decoration: none;
    }

    .h2wrap {
        position: relative;
        top: -7vw;
        left: -10vw;
        width: 100vw;
        height: 20vw;
        overflow-x: hidden;
    }

    .h2slant {
        position: relative;
        top: 5vw;
        left: -18%;
        width: 125vw;
        font-family: "fugaz one";
        padding: 3vw;
        transform: rotate(1.7deg);
        margin-bottom: 0;
    }

    #skewContainer {
        position: relative;
        top: -10vw;
        display: flex;
    }

    .collapsible {
        display: none;
    }
}

/* MOBILE foredrag styling */

#foredrag-heroImage {
    background-image: url(img/KHforedrag_web.webp);
    transition: background-image 1.5s ease-in-out;
    height: 150vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -10vw;
}

#foredrag-heroText {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

#foredrag-heroText p {
font-size: 3.5vw;
}

.orangeContainer {
    background-color: rgb(212, 105, 61);
    position: relative;
    height: fit-content;
    top: -10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-align: justify;
    padding: 4vw 2vw;
}

.orangeContainer h2 {
    text-align: center;
    margin-top: -1vw;

}

.orangeContainer p {
    margin-left: 9vw;
    margin-right: 9vw;
    font-size: 2.75vw;
}


/* en wrapper der sørger for at text og knap er samme størrelse og aligner rigtigt */

.buttonWrap {
    height: 10vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.buttonWrap a {
    height: 100%;
}

/* tekst */

.pris {
    background-color: rgb(212, 105, 61);
    width: 35vw;
    text-align: center;
    line-height: 10vw;
    color: #fff;
    font-family: "fugaz one";
    font-size: 3vw;
}

/* knap */

.bookBtn {
    background-color: rgb(66, 115, 130);
    border: none;
    width: 35vw;
    height: 100%;
    font-family: "fugaz one";
    font-weight: 100;
    font-size: 4vw;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

/* BREAKPOINT Foredrags side og gennemgående styling af orangeContainer til workshop og min historie side*/

@media screen and (min-width: 768px) {
    #foredrag-heroImage {
        height: 42vw;
        background-position-y: 0vw;
        top: 0;
    }

    #foredrag-heroText {
        position: relative;
        top: 26.4724vw;
    }

    #foredrag-heroText p {
        font-size: 1.5vw;
        }

    .orangeContainer {
        top: 0;
        clip-path:polygon(0% 0%, 100% 0%,100% 88%,0% 100%);
        -webkit-clip-path:polygon(0% 0%, 100% 0%,100% 93%,0% 100%);
    }

    .orangeContainer h2 {
        text-align: center;
        font-family: "fugaz one";
        top: 0;
    }

    .orangeContainer p {
        column-count: 2;
        column-gap: 2vw;
        font-size: 1vw;
    }

    .buttonWrap {
        position: relative;
        height: 10vw;
        display: flex;
        justify-content: space-evenly;
        clip-path:polygon(0% 0%, 100% 0%,100% 100%,0% 100%);
        -webkit-clip-path:polygon(0% 0%, 100% 0%,100% 100%,0% 100%);
        transform: rotate(-1.5deg);
    }

    .bookBtn {
        width: 35vw;
        height: 10vw;
    }

    .pris {
        width: 35vw;
        height: 10vw;
        line-height: 10vw;
        font-size: 2.5vw;
    }
}

/* MOBILE workshop styling */

#workshop-heroImage {
    background-image: url(img/KHworkshop1_web.webp);
    transition: background-image 1.5s ease-in-out;
    height: 150vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -10vw;
}

#workshop-heroText {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

#workshop-heroText p {
    font-size: 3.5vw;
    }

/* BREAKPOINT CHANGES workshop */

@media screen and (min-width: 768px) {
    #workshop-heroImage {
        background-position-y: -20%;
        height: 42vw;
        top: 0;
    }

    #workshop-heroText {
        position: relative;
        top: 26.4724vw;
    }

    #workshop-heroText p{
        font-size: 1.5vw;
        }
}

/* MOBILE om mig styling */

#omMig-heroImage {
    background-image: url(img/KHommig1_web.webp);
    transition: background-image 1.5s ease-in-out;
    height: 150vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -10vw;
}

/*CONTENT OVER KLAUS TIDLIGGERE KUNDER */

.collapsible2{
    background-color: rgb(76, 130, 142);
    margin-top: 2vw;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-family: "fugaz one";
    font-size: 3vw;
    padding: 0 1em 0 1em;
    cursor: pointer;
}

.collapseContent2 {
    padding: 2vw 2vw;
    display: none;
    justify-content: space-evenly;
    flex-direction: column;
    column-gap: 1vw;
    color: #fff;
    background-color: rgb(66, 115, 130);

}

table{
    border-collapse: separate;
    border-spacing: 1vw;
    width: 100%;
    justify-self: center;
    text-align: center;
    table-layout: fixed;
}

td {
  width: 33%;
}




/* BREAKPOINT CHANGES om mig */

@media screen and (min-width: 768px) {
    #omMig-heroImage {
        background-position-y: -10%;
        height: 42vw;
        top: 0;
    }

    .collapsible2{
        font-size: 1.5vw;
    }
}


