
/* gennemgående design styling */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: rgb(39, 47, 49);
}

header {
    background-color: rgb(212, 105, 61);
    height: 10vw;
    position: relative;
    top: 10vw;
    z-index: 99;
}

h1 {
    font-family: "fugaz one";
    font-size: 7vw;
    font-weight: 100;
}

h2 {
    font-family: fantasy;
    font-weight: 100;
    text-align: center;
    color: #fff;
    background-color: rgb(213, 105, 63);
    font-size: 4.5vw;
    padding: 5vw;
}

footer {
    background-color: #d4693d;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60vw;
    margin-top: 2em;
}

#so-meWrapper {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.so-me {
    text-decoration: none;
    color: #fff;
}

#kontakt {
    background-color: #4c828e;
    margin-top: 1em;
    border: none;
    outline: 0;
    padding: 0.5em 1em;
    font-family: fantasy;
    font-weight: 100;
    font-size: 1em;
    color: #fff;
    text-align: center;
    cursor: pointer;
    filter: drop-shadow(0.1em 0.2em 0.2em #111);
}

/* navbar fra w3schools FIX DET SENERE!! */

/* Style the navigation menu */
.topnavMobile {
    display: block;
    font-family: "fugaz one";
    overflow: hidden;
    background-color: #333;
    position: relative;
}

  /* Hide the links inside the navigation menu (except for logo/home) */
.topnavMobile #myLinks {
    display: none;
}

  /* Style navigation menu links */
.topnavMobile a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 5vw;
    display: block;
}

  /* Style the hamburger menu */
.topnavMobile a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

  /* Style the active link (or home/logo) */
.active {
    background-color: rgb(212, 105, 61);
    color: white;
}

.topnavDesk {
    height: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
}

.topnavDesk img {
    position: relative;
    top: 4vw;
    width: 40vw;
    margin-left: 2vw;
}

.topnavDesk nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding-right: 4vw;
    font-family: "fugaz one";
}

.topnavDesk a {
    color: #fff;
    text-decoration: none;
    font-size: 2.5vw;
}

/* BREAKPOINT CHANGES gennemgående design  */

@media screen and (min-width: 768px) {
    footer {
        clip-path:polygon(0% 100%, 100% 100%,100% 0%,0% 5%);
        -webkit-clip-path:polygon(0% 100%, 100% 100%,100% 0%,0% 5%);
        height: 20em;
        padding-top: 2vw;
    }

    .topnavMobile {
        display: none;
    }

    .topnavDesk {
        display: flex;
    }
}

/* MOBILE index styling */

#index-heroImage {
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
    url(img/foredragKlaus.png);
    height: 150vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -10vw;
}

#index-heroText {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

#index-heroButton {
    position: relative;
    top: 7vw;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 3vw 12.5vw;
    background-color: rgb(66, 115, 130);
    font-family: fantasy;
    font-weight: 100;
    font-size: 5vw;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.orangeContainer {
    background-color: rgb(212, 105, 61);
    position: relative;
    height: 100vw;
    top: -10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#portrait {
    width: 100%;
}

.collapsible {
    background-color: rgb(76, 130, 142);
    margin-top: 2vw;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 1em;
    padding: 0 1em 0 1em;
}

.collapseContent {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    color: #fff;
    background-color: rgb(66, 115, 130);
    text-align: justify;
}

/* DESKTOP index styling */

#skewContainer {
    width: 100%;
    height: 80vh;
    margin-top: 5vw;
    display: none;
    align-items: center;
    justify-content: space-evenly;
    clip-path:polygon(0% 0%, 100% 5%,100% 95%,0% 100%);
    -webkit-clip-path:polygon(0% 0%, 100% 5%,100% 95%,0% 100%);
}

.poster {
    background-image: url(img/Cocktail\ Kitten.jpg);
    width: 28vw;
    height: 100%;
    cursor: pointer;
}

.posterContent {
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #fff;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity .5s ease; 
    transition: .5s ease;
}

.posterContent:hover {
    opacity: 1;
    -webkit-transition: opacity 1s ease; 
    transition: 1s ease;
} 

/* BREAKPOINT CHANGES index */

@media screen and (min-width: 768px) {
    #index-heroImage {
        height: 100vw;
    }

    .orangeContainer {
        height: fit-content;
        flex-direction: row;
        clip-path:polygon(0% 0%, 100% 0%,100% 100%,0% 95%);
        -webkit-clip-path:polygon(0% 0%, 100% 0%,100% 100%,0% 95%);
    }

    #portrait {
        width: 50vw;
    }

    .h2wrap {
        width: 100%;
        overflow: hidden;
    }

    h2 {
        position: relative;
        left: -7.5%;
        width: 110%;
        transform: rotate(1.4deg)
    }

    #skewContainer {
        display: flex;
    }

    .collapsible {
        display: none;
    }
}

/* MOBILE foredrag styling */

.foredrag-btext {
    color: #fff;
    padding: 2em;
}

#foredrag-heroImage {
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
    url(img/Cocktail\ Kitten.jpg);
    height: 150vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -10vw;
}

#foredrag-heroText {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.buttonWrap {
    height: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.pris {
    background-color: rgb(212, 105, 61);
    width: 40vw;
    text-align: center;
    line-height: 3em;
    color: #fff;
}

.bookBtn {
    background-color: rgb(66, 115, 130);
    border: none;
    width: 40vw;
    height: 100%;
    font-family: fantasy;
    font-weight: 100;
    font-size: 5vw;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

/* MOBILE workshop styling */

