
/* gennemgående design styling */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: rgb(39, 47, 49);
}

header {
    background-color: rgb(212, 105, 61);
    height: 10vw;
    position: relative;
    top: 10vw;
    z-index: 99;
}

h1 {
    font-family: "fugaz one";
    font-size: 7vw;
    font-weight: 100;
}

.h2slant {
    font-family: fantasy;
    font-weight: 100;
    text-align: center;
    color: #fff;
    background-color: rgb(213, 105, 63);
    font-size: 4.5vw;
    padding: 5vw;
}

footer {
    background-color: #d4693d;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60vw;
    margin-top: 2em;
}

#so-meWrapper {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.so-me {
    text-decoration: none;
    color: #fff;
}

#kontakt {
    background-color: #4c828e;
    margin-top: 1em;
    border: none;
    outline: 0;
    padding: 0.5em 1em;
    font-family: fantasy;
    font-weight: 100;
    font-size: 1em;
    color: #fff;
    text-align: center;
    cursor: pointer;
    filter: drop-shadow(0.1em 0.2em 0.2em #111);
}

/* navbar fra w3schools FIX DET SENERE!! */

/* Style the navigation menu */
.topnavMobile {
    display: block;
    font-family: "fugaz one";
    overflow: hidden;
    background-color: #333;
    position: relative;
}

  /* Hide the links inside the navigation menu (except for logo/home) */
.topnavMobile #myLinks {
    display: none;
}

  /* Style navigation menu links */
.topnavMobile a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 5vw;
    display: block;
}

  /* Style the hamburger menu */
.topnavMobile a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

  /* Style the active link (or home/logo) */
.active {
    background-color: rgb(212, 105, 61);
    color: white;
}

.topnavDesk {
    height: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
}

.topnavDesk img {
    position: relative;
    top: 4vw;
    width: 40vw;
    margin-left: 2vw;
}

.topnavDesk nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding-right: 4vw;
    font-family: "fugaz one";
}

.topnavDesk a {
    color: #fff;
    text-decoration: none;
    font-size: 2.5vw;
}

/* BREAKPOINT CHANGES gennemgående design  */

@media screen and (min-width: 768px) {
    h1 {
        font-size: 3.6992vw;
    }
    
    main {
        margin: 0 10vw; 
    }

    footer {
        clip-path:polygon(0% 100%, 100% 100%,100% 0%,0% 5%);
        -webkit-clip-path:polygon(0% 100%, 100% 100%,100% 0%,0% 5%);
        height: 20em;
        padding-top: 2vw;
    }

    .topnavMobile {
        display: none;
    }

    header {
        height: 6.1846vw;
        top: 6.4736vw;
    }

    .topnavDesk {
        display: flex;
    }
}

/* MOBILE index styling */

/* container med baggrund */

#index-heroImage {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
    url(img/foredragKlaus.png);
    height: 150vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -10vw;
}

/* content til containeren  */

#index-heroText {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

#index-heroButton {
    position: relative;
    top: 7vw;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 3vw 12.5vw;
    background-color: rgb(66, 115, 130);
    font-family: fantasy;
    font-weight: 100;
    font-size: 5vw;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

/* container med indholdet til de forskellige sider  */

#index-orangeContainer {
    background-color: rgb(212, 105, 61);
    position: relative;
    height: fit-content;
    top: -10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#index-orangeContainer h3 {
    text-align: center;
    color: #fff;
}

#index-orangeContainer p {
    padding: 3vw;
    font-size: 4.444vw;
    text-align: justify;
    color: #fff;
}

#portrait {
    width: 100%;
}

.læsMere {
    width: 100%;
}

.læsMere button {
    background-color: #4c828e;
    border: none;
    outline: none;
    width: 50%;
    height: 4vw;
    color: #fff;
    font-size: 2vw;
    cursor: pointer;
}

/* css til funktionen der folder hans tidligere arbejde ud på mobilen */

.collapsible {
    background-color: rgb(76, 130, 142);
    margin-top: 2vw;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 1em;
    padding: 0 1em 0 1em;
}

.collapseContent {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    color: #fff;
    background-color: rgb(66, 115, 130);
    text-align: justify;
}

/* DESKTOP index styling */

/* en container med trapez-form der wrapper og skærer de indsatte billeder */

#skewContainer {
    width: 100%;
    height: 80vh;
    margin-top: 5vw;
    display: none;
    align-items: center;
    justify-content: space-evenly;
    clip-path:polygon(0% 0%, 100% 5%,100% 95%,0% 100%);
    -webkit-clip-path:polygon(0% 0%, 100% 5%,100% 95%,0% 100%);
}

/* de indsatte billeder */

.poster {
    background-image: url(img/Cocktail\ Kitten.jpg);
    width: 28vw;
    height: 100%;
    cursor: pointer;
}

/* indhold der ligger over billederne */

.posterContent {
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #fff;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity .5s ease; 
    transition: .5s ease;
}

/* mouseover style der ændrer opaciteten */

.posterContent:hover {
    opacity: 1;
    -webkit-transition: opacity 1s ease; 
    transition: 1s ease;
} 

/* BREAKPOINT CHANGES index */

@media screen and (min-width: 768px) {
    #index-heroImage {
        height: 100vw;
    }

    #index-heroText {
        position: relative;
        top: 26.4724vw;
    }

    #index-orangeContainer {
        width: 80vw;
        height: fit-content;
        flex-direction: row;
        clip-path:polygon(0% 0%, 100% 0%,100% 90%,0% 100%);
        -webkit-clip-path:polygon(0% 0%, 100% 0%,100% 90%,0% 100%);
    }

    #index-orangeContainer p {
        padding: 2vw;
        font-size: 1vw;
    }

    #portrait {
        width: 50%;
    }

    .h2wrap {
        position: relative;
        left: -10vw;
        width: 100vw;
        overflow: hidden;
    }

    .h2slant {
        position: relative;
        left: -18%;
        width: 125vw;
        transform: rotate(1.4deg)
    }

    #skewContainer {
        display: flex;
    }

    .collapsible {
        display: none;
    }
}

/* MOBILE foredrag styling */

#foredrag-heroImage {
    background-image: url(img/KlausHjuler_Foredrag.JPG);
    transition: background-image 1.5s ease-in-out;
    height: 150vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -10vw;
}

#foredrag-heroText {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.orangeContainer {
    background-color: rgb(212, 105, 61);
    position: relative;
    height: 100vw;
    top: -10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* en wrapper der sørger for at text og knap er samme størrelse og aligner rigtigt */

.buttonWrap {
    height: 10vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.buttonWrap a {
    height: 100%;
}

/* tekst */

.pris {
    background-color: rgb(212, 105, 61);
    width: 25vw;
    text-align: center;
    line-height: 10vw;
    color: #fff;
}

/* knap */

.bookBtn {
    background-color: rgb(66, 115, 130);
    border: none;
    width: 25vw;
    height: 100%;
    font-family: "fugaz one";
    font-weight: 100;
    font-size: 5vw;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

/* BREAKPOINT Foredrags side*/
@media screen and (min-width: 768px) {
    #foredrag-heroImage {
        height: 42vw;
    }

    #foredrag-heroText {
        position: relative;
        top: 26.4724vw;
    }

    .orangeContainer h2 {
        text-align: center;
    
    }

    .orangeContainer p{
        margin-left: 8vw;
        margin-right: 8vw;
    }

    .buttonWrap {
        height: 15vw;
        clip-path:polygon(0% 20%, 100% 0%,100% 100%,0% 100%);
        -webkit-clip-path:polygon(0% 20%, 100% 0%,100% 100%,0% 100%);
    }

    .bookBtn {
        height: 15vw;
    }

    .pris {
        height: 15vw;
        line-height: 15vw;
        font-size: 4vw;
    }

}

/* MOBILE workshop styling */

#workshop-heroImage {
    background-image: url(img/Cocktail\ Kitten.jpg);
    transition: background-image 1.5s ease-in-out;
    height: 150vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -10vw;
}

#workshop-heroText {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

/* BREAKPOINT CHANGES workshop */

@media screen and (min-width: 768px) {
    #workshop-heroImage {
        height: 48.1474vw;
    }

    #workshop-heroText {
        position: relative;
        top: 26.4724vw;
    }
}


#omMig-heroImage {
    background-image: url(img/KlausHjuler_Foredrag.JPG);
    transition: background-image 1.5s ease-in-out;
    height: 150vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -10vw;
}